.main{
    width:100%;
    background:#03030d;
}
.header{
    width:100%;
    height:150px;
    padding:30px 0;
}
.header_nav{
    width:960px;
    height:100%;
    margin:auto;
}
.logo{
    width:154px;
    height:100%;
    background:url("../img/logo.png") no-repeat -15px -20px;
    float: left;
}
.life{height:70px;padding-left:30px;}
.life span{
    color:#0099cc;
    font-size:30px;
    font-weight:bold;
    letter-spacing: .7em;
    line-height:70px;
}
.life a{
    height:30px;
    color: #09c;
    font-size:18px;
    padding-top:28px;
    margin-left:18px;
}
.life .logout,.life .user{display:none;}
.life .login_box{
    width:218px;
    height:156px;
    background:#fff;
    box-shadow:1px 0 5px rgba(0,0,0,.15);
    padding:24px;
    border:1px solid #e8e8e8;
    z-index:3;
    position: absolute;
    right:230px;
    top:92px;
    border-radius: 2px;
    display: none;
}
.life .login_inp{margin-bottom:15px;}
.life .login_inp input{
    padding-left:10px;
    width:203px;
    height:34px;
    font-size:14px;
}
.life .sub_btn{
    display: block;
    width:100%;
    background:#3bc2c2;
    color:#fff;
    vertical-align: middle;
    border-radius: 2px;
    font-size:14px;
    padding:8px;
    line-height:20px;
    cursor: pointer;
    border: none;
    margin-bottom:5px;
}
.life .login_box a{
    margin-left:0;
    font-size:14px;
}
.nav{
    width:736px;
    height:80px;
    position: relative;
    z-index:2;
}
.nav .hover{
    width:98px;
    height:78px;
    position: absolute;
    left:30px;top:-2px;
    background:url("../img/navA_hover.png") no-repeat;
}
.nav ul{
    position: relative;
    width:100%;
    height:78px;
    margin-left:30px;
}
.nav ul li{
    width:100px;
    height:78px;
    float:left;
}
.nav ul li a{
    display: block;
    height:78px;
    line-height:68px;
    text-align: center;
    color:#fff;
    font-size:16px;
    z-index:31;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
}
.nav ul li a.last{
    border-right:none;
}
.nav ul li a:hover{
    color:#63b1ff;
}
.content{
    width:960px;
    border:1px solid #9cf;
    margin:0 auto;
    border-radius: 10px;
    background:#fff;
}
.content h2{
    text-align: center;
    font-size:30px;
    height:38px;
    line-height:38px;
    padding:20px 0;
}
.content .infor{
    width:700px;
    height:603px;
    border-top:1px dashed #666;
    border-bottom:1px dashed #666;
    margin:0 auto;
}
.content .infor p{
    font-size:15px;
    color:#666;
    text-align: center;
    padding:10px;
}
.content ul li{margin-bottom:15px;}
.content ul{
    margin:20px 130px;
}
.content ul li span{
    font-size:18px;
    font-weight:bold;
    text-align: right;
    display: inline-block;
    width:84px;
}
.content ul li .text{
    width:286px;
    height:35px;
    text-align: left;
    padding-left:10px;
}
.content ul li .text2{
    width:150px;
    height:25px;
    text-align: left;
    padding-left:10px;
}
.content ul li select{
    height:22px;
}
.content .submit{
    background:#F00;
    width:165px;
    height:50px;
    color:#FFF;
    font-size:20px;
    border-radius:10px;
    margin:0 auto;
}
.content .sub_box{
    text-align: center;
    padding:10px;
}